.ph-icon,
.ph-icon-sm,
.ph-icon-lg {
  width: 64px;
  height: 64px;
  border-radius: 50%;
  background: #eee;
}
.ph-icon-lg {
  width: 99px;
  height: 99px;
}
.ph-icon-sm {
  width: 38px;
  height: 38px;
}
.icon-20 {
  display: inline-block;
  border-radius: 50%;
  background: #444;
  width: 20px;
  height: 20px;
  vertical-align: middle;
}
