@font-face {
  font-family: 'ldi';
  font-weight: normal;
  font-style: normal;
  src: url("/assets/lib/ldui/fonts/ldi.ttf") format('truetype');
}
@font-face {
  font-family: 'noto';
  font-weight: normal;
  font-style: normal;
  src: url("/assets/fonts/noto-regular.ttf") format('truetype');
}
@font-face {
  font-family: 'noto';
  font-weight: bold;
  font-style: normal;
  src: url("/assets/fonts/noto-bold.ttf") format('truetype');
}
html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  color: #2c1843;
}
html,
body,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: noto, Roboto, sans-serif;
}
.bg-gray {
  background-color: #ddd;
}
.margin {
  padding: 1.5em;
  margin: 1.5em;
}
.ph-icon,
.ph-icon-sm,
.ph-icon-lg {
  width: 64px;
  height: 64px;
  border-radius: 50%;
  background: #eee;
}
.ph-icon-lg {
  width: 99px;
  height: 99px;
}
.ph-icon-sm {
  width: 38px;
  height: 38px;
}
.icon-20 {
  display: inline-block;
  border-radius: 50%;
  background: #444;
  width: 20px;
  height: 20px;
  vertical-align: middle;
}
.card {
  border-radius: 0.625rem;
}
.ldcv > .base > .inner.card {
  border-radius: 1.5rem;
}
.mb-7 {
  margin-bottom: 2.75rem;
}
.section-dark {
  background-color: #4e257b;
  color: #fff;
}
.section-light {
  background-color: #fdf3f1;
  color: #2c1843;
}
.bg-dark {
  background-color: #4e257b !important;
}
.bg-light {
  background-color: #fdf3f1 !important;
}
.btn.btn-md {
  font-size: 1.125rem;
  border-radius: 1.5rem;
  padding: 0.66rem 1.8125rem;
  color: #ff9f00;
  border-color: #ff9f00;
}
.btn.btn-md:hover,
.btn.btn-md.active {
  color: #fff;
  background: #ff9f00;
}
.btn.btn-md.btn-purple {
  color: #873fd6;
  background: none;
  border-color: #873fd6;
}
.btn.btn-md.btn-purple:hover,
.btn.btn-md.btn-purple.active {
  color: #fff;
  background: #873fd6;
  border-color: #873fd6;
}
.text-xs {
  font-size: 12px;
}
.sep.sep-white {
  border-top-color: #fff;
}
.card {
  border-radius: 10px;
}
.text-dark {
  color: #32194d !important;
}
.text-orange {
  color: #ff9f00 !important;
}
.bg-purple {
  background: #4e257b;
}
.bg-purple-light {
  background: #582a88;
}
.ratio-perspective {
  padding-top: 19.828% !important;
}
.shadow-md {
  box-shadow: 0px 3px 6px rgba(0,0,0,0.161);
}
.votee {
  width: 142px;
  height: 142px;
  border-radius: 50%;
  background-color: #fff;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  border: 5px solid #fff;
  transition: all 0.35s ease-in-out;
}
.votee-outer:hover .votee,
.votee:hover,
.votee.active {
  border-color: #ff9f00;
}
.votee.sm {
  width: 90px;
  height: 90px;
}
@media (max-width: 768px) {
  div[ld="vote-cand"] {
    width: 100%;
  }
}
.card.grantee {
  border: 2px solid #fff;
}
.card.grantee.active {
  border-color: #ff9f00;
}
.hint {
  position: fixed;
  right: 20px;
  margin: auto;
  top: 50%;
  transform: translate(0, -50%);
  font-size: 12px;
  text-align: right;
  color: #873fd6;
  transition: font-size 0.15s ease-in-out;
}
.hint .text {
  cursor: pointer;
  vertical-align: middle;
  visibility: hidden;
  opacity: 0;
  display: inline;
  transition: opacity 0.15s ease-in-out;
}
.hint .bullet {
  cursor: pointer;
  vertical-align: middle;
  width: 10px;
  height: 10px;
  background: #873fd6;
  border: 2px solid transparent;
  border-radius: 32px;
  display: inline-block;
  margin-left: 0;
  transition: border-color 0.15s ease-in-out;
}
.hint .active {
  font-size: 1.25em;
}
.hint .active .text {
  visibility: visible;
  opacity: 1;
}
.hint .active .bullet {
  width: 16px;
  height: 16px;
  border-color: #fff;
  margin-right: -3px;
}
.interview {
  margin: 2rem 1.5rem;
  width: calc(50% - 4em);
}
.interview .avatar {
  width: 6rem;
  height: 6rem;
  border-radius: 50%;
  position: absolute;
  top: -2.5rem;
  right: 2rem;
  border: 3px solid #4e257b;
}
#hero .title {
  width: 400px;
  max-width: 90%;
}
#who-list {
  justify-content: center;
}
.party-icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  margin: 0.2rem 0.3rem 0 0;
  vertical-align: middle;
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
}
#parallax {
  z-index: 3000;
  top: calc(50vh - 256px) !important;
}
#parallax .aspect-ratio {
  padding-top: 50%;
}
@media (max-width: 768px) {
  #parallax {
    top: 80px !important;
    background: rgba(253,243,241,0.75);
  }
  #parallax .aspect-ratio {
    padding-top: 85%;
  }
}
@media (max-width: 768px) {
  html {
    font-size: 16px;
  }
  .margin {
    padding: 0;
    margin: 0;
  }
  .hint {
    display: none;
  }
  h2 {
    font-size: 1.5rem !important;
  }
  .btn.btn-md {
    font-size: 1rem;
    padding: 0.1875rem 0.75rem !important;
    background: #ff9f00;
    color: #fff !important;
  }
  .votee {
    width: 82px;
    height: 82px;
  }
  .votee.sm {
    width: 70px;
    height: 70px;
  }
  .rwd-lg {
    width: 100% !important;
  }
  .votee.active {
    width: 142px;
    height: 142px;
  }
  .interview {
    margin-left: 0;
    margin-right: 0;
  }
  #hero .title {
    margin: auto;
  }
  #hero .vertical-center {
    padding-bottom: 1.5rem;
  }
  #hero .vertical-center > * {
    vertical-align: bottom !important;
  }
  #who-list {
    overflow-x: scroll;
    overflow-y: hidden;
    flex-direction: row-reverse;
    justify-content: start !important;
    flex-wrap: nowrap !important;
  }
  #who-list:before,
  #who-list:after {
    content: " ";
    display: block;
    padding: 1rem;
  }
}
@media (max-width: 320px) {
  html {
    font-size: 12px;
  }
}
#navtop > div {
  background: rgba(255,255,255,0.8);
}
@media (max-width: 768px) {
}
.ldcvmgr[data-name="menu"] .base {
  width: 90%;
  max-width: 90%;
  max-height: 100%;
  height: 100%;
  left: auto;
  right: 0;
}
