.png-sprite {
  display: inline-block;
  position: relative;
}
.png-sprite:before {
  content: " ";
  width: 100%;
  display: block;
  background-image: url(/subsidy/assets/sprite/png-sprite.min.png);
}.png-sprite[data-name="/subsidy/assets/img/ic_nav.png"] {
  width: 22px;
}
.png-sprite[data-name="/subsidy/assets/img/ic_nav.png"]:before {
  background-size: 5190.909090909091%;
  background-position: 94.73214285714286% 39.53974895397489%;
  padding-top: 100%!important
}.png-sprite[data-name="/subsidy/assets/img/ic_poll.png"] {
  width: 18px;
}
.png-sprite[data-name="/subsidy/assets/img/ic_poll.png"]:before {
  background-size: 6344.444444444444%;
  background-position: 100% 36.66666666666667%;
  padding-top: 100%!important
}.png-sprite[data-name="/subsidy/assets/img/ic_sms.png"] {
  width: 20px;
}
.png-sprite[data-name="/subsidy/assets/img/ic_sms.png"]:before {
  background-size: 5710%;
  background-position: 96.3458110516934% 43.84133611691023%;
  padding-top: 100%!important
}.png-sprite[data-name="/subsidy/assets/img/ic_backspace.png"] {
  width: 18px;
}
.png-sprite[data-name="/subsidy/assets/img/ic_backspace.png"]:before {
  background-size: 6344.444444444444%;
  background-position: 99.91103202846976% 39.130434782608695%;
  padding-top: 66.66666666666666%!important
}.png-sprite[data-name="/subsidy/assets/img/party/ic_other.png"] {
  width: 32px;
}
.png-sprite[data-name="/subsidy/assets/img/party/ic_other.png"]:before {
  background-size: 3568.75%;
  background-position: 98.46846846846847% 33.82663847780127%;
  padding-top: 100%!important
}.png-sprite[data-name="/subsidy/assets/img/party/ic_signed.png"] {
  width: 32px;
}
.png-sprite[data-name="/subsidy/assets/img/party/ic_signed.png"]:before {
  background-size: 3568.75%;
  background-position: 95.58558558558559% 33.82663847780127%;
  padding-top: 100%!important
}.png-sprite[data-name="/subsidy/assets/img/ic_expand_more.png"] {
  width: 14px;
}
.png-sprite[data-name="/subsidy/assets/img/ic_expand_more.png"]:before {
  background-size: 8157.142857142857%;
  background-position: 99.7340425531915% 33.02373581011352%;
  padding-top: 64.28571428571429%!important
}.png-sprite[data-name="/subsidy/assets/img/ic_search.png"] {
  width: 20px;
}
.png-sprite[data-name="/subsidy/assets/img/ic_search.png"]:before {
  background-size: 5710%;
  background-position: 98.1283422459893% 41.75365344467641%;
  padding-top: 100%!important
}.png-sprite[data-name="/subsidy/assets/img/party/ic_pfp.png"] {
  width: 20px;
}
.png-sprite[data-name="/subsidy/assets/img/party/ic_pfp.png"]:before {
  background-size: 5710%;
  background-position: 96.3458110516934% 41.75365344467641%;
  padding-top: 100%!important
}.png-sprite[data-name="/subsidy/assets/img/ic_facebook.png"] {
  width: 36px;
}
.png-sprite[data-name="/subsidy/assets/img/ic_facebook.png"]:before {
  background-size: 3172.222222222222%;
  background-position: 95.93128390596745% 26.326963906581742%;
  padding-top: 100%!important
}.png-sprite[data-name="/subsidy/assets/img/ic_play_circle_filled.png"] {
  width: 44px;
}
.png-sprite[data-name="/subsidy/assets/img/ic_play_circle_filled.png"]:before {
  background-size: 2595.4545454545455%;
  background-position: 96.63023679417122% 21.84154175588865%;
  padding-top: 100%!important
}.png-sprite[data-name="/subsidy/assets/img/party/ic_np.png"] {
  width: 20px;
}
.png-sprite[data-name="/subsidy/assets/img/party/ic_np.png"]:before {
  background-size: 5710%;
  background-position: 96.52406417112299% 39.4572025052192%;
  padding-top: 100%!important
}.png-sprite[data-name="/subsidy/assets/img/ic_vote.png"] {
  width: 23px;
}
.png-sprite[data-name="/subsidy/assets/img/ic_vote.png"]:before {
  background-size: 4965.217391304348%;
  background-position: 99.2850759606792% 18.848167539267013%;
  padding-top: 100%!important
}.png-sprite[data-name="/subsidy/assets/img/ic_twitter.png"] {
  width: 36px;
}
.png-sprite[data-name="/subsidy/assets/img/ic_twitter.png"]:before {
  background-size: 3172.222222222222%;
  background-position: 99.18625678119349% 26.326963906581742%;
  padding-top: 100%!important
}.png-sprite[data-name="/subsidy/assets/img/ic_votes.png"] {
  width: 25px;
}
.png-sprite[data-name="/subsidy/assets/img/ic_votes.png"]:before {
  background-size: 4568%;
  background-position: 99.46284691136975% 15.73389651531151%;
  padding-top: 124%!important
}.png-sprite[data-name="/subsidy/assets/img/ic_link.png"] {
  width: 36px;
}
.png-sprite[data-name="/subsidy/assets/img/ic_link.png"]:before {
  background-size: 3172.222222222222%;
  background-position: 95.93128390596745% 30.148619957537154%;
  padding-top: 100%!important
}.png-sprite[data-name="/subsidy/assets/img/ic_line.png"] {
  width: 36px;
}
.png-sprite[data-name="/subsidy/assets/img/ic_line.png"]:before {
  background-size: 3172.222222222222%;
  background-position: 99.18625678119349% 30.148619957537154%;
  padding-top: 100%!important
}.png-sprite[data-name="/subsidy/assets/img/ic_PTS.png"] {
  width: 36px;
}
.png-sprite[data-name="/subsidy/assets/img/ic_PTS.png"]:before {
  background-size: 3172.222222222222%;
  background-position: 99.90958408679927% 21.656050955414013%;
  padding-top: 100%!important
}.png-sprite[data-name="/subsidy/assets/img/party/ic_tsu.png"] {
  width: 20px;
}
.png-sprite[data-name="/subsidy/assets/img/party/ic_tsu.png"]:before {
  background-size: 5710%;
  background-position: 98.3065953654189% 39.4572025052192%;
  padding-top: 100%!important
}.png-sprite[data-name="/subsidy/assets/img/party/ic_npp.png"] {
  width: 20px;
}
.png-sprite[data-name="/subsidy/assets/img/party/ic_npp.png"]:before {
  background-size: 5710%;
  background-position: 99.91087344028521% 41.75365344467641%;
  padding-top: 100%!important
}.png-sprite[data-name="/subsidy/assets/img/party/ic_kmt.png"] {
  width: 20px;
}
.png-sprite[data-name="/subsidy/assets/img/party/ic_kmt.png"]:before {
  background-size: 5710%;
  background-position: 94.5632798573975% 41.75365344467641%;
  padding-top: 100%!important
}.png-sprite[data-name="/subsidy/assets/img/party/ic_dpp.png"] {
  width: 20px;
}
.png-sprite[data-name="/subsidy/assets/img/party/ic_dpp.png"]:before {
  background-size: 5710%;
  background-position: 94.5632798573975% 43.84133611691023%;
  padding-top: 100%!important
}.png-sprite[data-name="/subsidy/assets/img/who/img_leaderboard_shine.png"] {
  width: 149px;
}
.png-sprite[data-name="/subsidy/assets/img/who/img_leaderboard_shine.png"]:before {
  background-size: 766.4429530201343%;
  background-position: 0% 100%;
  padding-top: 45.63758389261745%!important
}.png-sprite[data-name="/subsidy/assets/img/ic_coin.png"] {
  width: 25px;
}
.png-sprite[data-name="/subsidy/assets/img/ic_coin.png"]:before {
  background-size: 4568%;
  background-position: 98.38854073410921% 36.93599160545646%;
  padding-top: 100%!important
}.png-sprite[data-name="/subsidy/assets/img/logo_pts_footer.png"] {
  width: 85px;
}
.png-sprite[data-name="/subsidy/assets/img/logo_pts_footer.png"]:before {
  background-size: 1343.5294117647059%;
  background-position: 29.3282876064333% 60.36131774707758%;
  padding-top: 43.529411764705884%!important
}.png-sprite[data-name="/subsidy/assets/img/pop_plus.png"] {
  width: 73px;
}
.png-sprite[data-name="/subsidy/assets/img/pop_plus.png"]:before {
  background-size: 1564.3835616438355%;
  background-position: 99.25163704396633% 10.281385281385282%;
  padding-top: 73.97260273972603%!important
}.png-sprite[data-name="/subsidy/assets/img/ic_coins.png"] {
  width: 38px;
}
.png-sprite[data-name="/subsidy/assets/img/ic_coins.png"]:before {
  background-size: 3005.263157894737%;
  background-position: 96.10507246376811% 36.97478991596639%;
  padding-top: 68.42105263157895%!important
}.png-sprite[data-name="/subsidy/assets/img/pop_plus_money.png"] {
  width: 87px;
}
.png-sprite[data-name="/subsidy/assets/img/pop_plus_money.png"]:before {
  background-size: 1312.6436781609195%;
  background-position: 88.1516587677725% 89.06926406926407%;
  padding-top: 62.06896551724138%!important
}.png-sprite[data-name="/subsidy/assets/img/ic_badge.png"] {
  width: 50px;
}
.png-sprite[data-name="/subsidy/assets/img/ic_badge.png"]:before {
  background-size: 2284%;
  background-position: 97.16117216117216% 16.143011917659805%;
  padding-top: 110.00000000000001%!important
}.png-sprite[data-name="/subsidy/assets/img/who/img_leaderboard_lower.png"] {
  width: 131px;
}
.png-sprite[data-name="/subsidy/assets/img/who/img_leaderboard_lower.png"]:before {
  background-size: 871.7557251908397%;
  background-position: 91.98813056379821% 9.273743016759777%;
  padding-top: 63.358778625954194%!important
}.png-sprite[data-name="/subsidy/assets/img/who/img_leaderboard_mid.png"] {
  width: 131px;
}
.png-sprite[data-name="/subsidy/assets/img/who/img_leaderboard_mid.png"]:before {
  background-size: 871.7557251908397%;
  background-position: 91.98813056379821% 18.547486033519554%;
  padding-top: 63.358778625954194%!important
}.png-sprite[data-name="/subsidy/assets/img/cand/top/img_candidate_tsai.min.png"] {
  width: 142px;
}
.png-sprite[data-name="/subsidy/assets/img/cand/top/img_candidate_tsai.min.png"]:before {
  background-size: 804.225352112676%;
  background-position: 64.3% 75.35885167464114%;
  padding-top: 100%!important
}.png-sprite[data-name="/subsidy/assets/img/cand/img_leaderboard_10.png"] {
  width: 81px;
}
.png-sprite[data-name="/subsidy/assets/img/cand/img_leaderboard_10.png"]:before {
  background-size: 1409.8765432098767%;
  background-position: 87.65315739868048% 82.44620611551528%;
  padding-top: 117.28395061728396%!important
}.png-sprite[data-name="/subsidy/assets/img/cand/img_leaderboard_7.png"] {
  width: 81px;
}
.png-sprite[data-name="/subsidy/assets/img/cand/img_leaderboard_7.png"]:before {
  background-size: 1409.8765432098767%;
  background-position: 87.65315739868048% 60.92865232163079%;
  padding-top: 117.28395061728396%!important
}.png-sprite[data-name="/subsidy/assets/img/cand/img_leaderboard_6.png"] {
  width: 81px;
}
.png-sprite[data-name="/subsidy/assets/img/cand/img_leaderboard_6.png"]:before {
  background-size: 1409.8765432098767%;
  background-position: 87.65315739868048% 50.169875424688556%;
  padding-top: 117.28395061728396%!important
}.png-sprite[data-name="/subsidy/assets/img/who/img_leaderboard_up.png"] {
  width: 131px;
}
.png-sprite[data-name="/subsidy/assets/img/who/img_leaderboard_up.png"]:before {
  background-size: 871.7557251908397%;
  background-position: 91.98813056379821% 0%;
  padding-top: 63.358778625954194%!important
}.png-sprite[data-name="/subsidy/assets/img/cand/img_leaderboard_8.png"] {
  width: 81px;
}
.png-sprite[data-name="/subsidy/assets/img/cand/img_leaderboard_8.png"]:before {
  background-size: 1409.8765432098767%;
  background-position: 100% 0%;
  padding-top: 117.28395061728396%!important
}.png-sprite[data-name="/subsidy/assets/img/cand/img_leaderboard_9.png"] {
  width: 81px;
}
.png-sprite[data-name="/subsidy/assets/img/cand/img_leaderboard_9.png"]:before {
  background-size: 1409.8765432098767%;
  background-position: 87.65315739868048% 71.68742921857304%;
  padding-top: 117.28395061728396%!important
}.png-sprite[data-name="/subsidy/assets/img/cand/img_leaderboard_4.png"] {
  width: 97px;
}
.png-sprite[data-name="/subsidy/assets/img/cand/img_leaderboard_4.png"]:before {
  background-size: 1177.319587628866%;
  background-position: 88.99521531100477% 39.27355278093076%;
  padding-top: 100%!important
}.png-sprite[data-name="/subsidy/assets/img/cand/img_leaderboard_5.png"] {
  width: 97px;
}
.png-sprite[data-name="/subsidy/assets/img/cand/img_leaderboard_5.png"]:before {
  background-size: 1177.319587628866%;
  background-position: 88.99521531100477% 28.263337116912595%;
  padding-top: 100%!important
}.png-sprite[data-name="/subsidy/assets/img/hero/img_main_title.png"] {
  width: 359px;
}
.png-sprite[data-name="/subsidy/assets/img/hero/img_main_title.png"]:before {
  background-size: 318.1058495821727%;
  background-position: 0% 77.01711491442542%;
  padding-top: 44.56824512534819%!important
}.png-sprite[data-name="/subsidy/assets/img/cand/img_leaderboard_1.png"] {
  width: 98px;
}
.png-sprite[data-name="/subsidy/assets/img/cand/img_leaderboard_1.png"]:before {
  background-size: 1165.3061224489797%;
  background-position: 76.24521072796935% 91.64733178654294%;
  padding-top: 118.36734693877551%!important
}.png-sprite[data-name="/subsidy/assets/img/cand/interview/talk_portrait_李晏榕.png"] {
  width: 120px;
}
.png-sprite[data-name="/subsidy/assets/img/cand/interview/talk_portrait_李晏榕.png"]:before {
  background-size: 951.6666666666667%;
  background-position: 23.483365949119374% 92.07459207459208%;
  padding-top: 100%!important
}.png-sprite[data-name="/subsidy/assets/img/cand/interview/talk_portrait_金瑞龍.png"] {
  width: 120px;
}
.png-sprite[data-name="/subsidy/assets/img/cand/interview/talk_portrait_金瑞龍.png"]:before {
  background-size: 951.6666666666667%;
  background-position: 11.741682974559687% 92.07459207459208%;
  padding-top: 100%!important
}.png-sprite[data-name="/subsidy/assets/img/cand/img_leaderboard_3.png"] {
  width: 98px;
}
.png-sprite[data-name="/subsidy/assets/img/cand/img_leaderboard_3.png"]:before {
  background-size: 1165.3061224489797%;
  background-position: 66.85823754789271% 91.64733178654294%;
  padding-top: 118.36734693877551%!important
}.png-sprite[data-name="/subsidy/assets/img/cand/img_leaderboard_2.png"] {
  width: 98px;
}
.png-sprite[data-name="/subsidy/assets/img/cand/img_leaderboard_2.png"]:before {
  background-size: 1165.3061224489797%;
  background-position: 57.47126436781609% 91.64733178654294%;
  padding-top: 118.36734693877551%!important
}.png-sprite[data-name="/subsidy/assets/img/cand/interview/talk_portrait_周倪安.png"] {
  width: 120px;
}
.png-sprite[data-name="/subsidy/assets/img/cand/interview/talk_portrait_周倪安.png"]:before {
  background-size: 951.6666666666667%;
  background-position: 0% 92.07459207459208%;
  padding-top: 100%!important
}.png-sprite[data-name="/subsidy/assets/img/cand/interview/talk_portrait_徐永明.png"] {
  width: 120px;
}
.png-sprite[data-name="/subsidy/assets/img/cand/interview/talk_portrait_徐永明.png"]:before {
  background-size: 951.6666666666667%;
  background-position: 35.22504892367906% 92.07459207459208%;
  padding-top: 100%!important
}.png-sprite[data-name="/subsidy/assets/img/cand/interview/talk_portrait_蔣月惠.png"] {
  width: 120px;
}
.png-sprite[data-name="/subsidy/assets/img/cand/interview/talk_portrait_蔣月惠.png"]:before {
  background-size: 951.6666666666667%;
  background-position: 46.96673189823875% 92.07459207459208%;
  padding-top: 100%!important
}.png-sprite[data-name="/subsidy/assets/img/cand/top/img_candidate_song.png"] {
  width: 142px;
}
.png-sprite[data-name="/subsidy/assets/img/cand/top/img_candidate_song.png"]:before {
  background-size: 804.225352112676%;
  background-position: 50.1% 75.35885167464114%;
  padding-top: 100%!important
}.png-sprite[data-name="/subsidy/assets/img/cand/top/img_candidate_tsai.png"] {
  width: 142px;
}
.png-sprite[data-name="/subsidy/assets/img/cand/top/img_candidate_tsai.png"]:before {
  background-size: 804.225352112676%;
  background-position: 35.89999999999999% 75.35885167464114%;
  padding-top: 100%!important
}.png-sprite[data-name="/subsidy/assets/img/cand/top/img_candidate_fish.png"] {
  width: 142px;
}
.png-sprite[data-name="/subsidy/assets/img/cand/top/img_candidate_fish.png"]:before {
  background-size: 804.225352112676%;
  background-position: 78.5% 75.35885167464114%;
  padding-top: 100%!important
}.png-sprite[data-name="/subsidy/assets/img/history/history_img_78.png"] {
  width: 309px;
}
.png-sprite[data-name="/subsidy/assets/img/history/history_img_78.png"]:before {
  background-size: 369.5792880258899%;
  background-position: 74.30972388955583% 43.44827586206896%;
  padding-top: 81.87702265372168%!important
}.png-sprite[data-name="/subsidy/assets/img/history/history_img_80.png"] {
  width: 309px;
}
.png-sprite[data-name="/subsidy/assets/img/history/history_img_80.png"]:before {
  background-size: 369.5792880258899%;
  background-position: 37.21488595438175% 43.44827586206896%;
  padding-top: 81.87702265372168%!important
}.png-sprite[data-name="/subsidy/assets/img/history/history_img_83.png"] {
  width: 310px;
}
.png-sprite[data-name="/subsidy/assets/img/history/history_img_83.png"]:before {
  background-size: 368.3870967741936%;
  background-position: 74.51923076923076% 0%;
  padding-top: 101.61290322580645%!important
}.png-sprite[data-name="/subsidy/assets/img/history/history_img_86.png"] {
  width: 310px;
}
.png-sprite[data-name="/subsidy/assets/img/history/history_img_86.png"]:before {
  background-size: 368.3870967741936%;
  background-position: 37.25961538461538% 0%;
  padding-top: 101.61290322580645%!important
}.png-sprite[data-name="/subsidy/assets/img/history/history_img_106.png"] {
  width: 310px;
}
.png-sprite[data-name="/subsidy/assets/img/history/history_img_106.png"]:before {
  background-size: 368.3870967741936%;
  background-position: 0% 47.511312217194565%;
  padding-top: 101.61290322580645%!important
}.png-sprite[data-name="/subsidy/assets/img/history/history_img_104.png"] {
  width: 310px;
}
.png-sprite[data-name="/subsidy/assets/img/history/history_img_104.png"]:before {
  background-size: 368.3870967741936%;
  background-position: 0% 0%;
  padding-top: 101.61290322580645%!important
}